"Older Languaje Files.zip" export-ignore
"Preview Images.zip" export-ignore
"Readme - Old.md" export-ignore
"README.md" export-ignore
"SDL2-2.0.22-windows.zip" export-ignore
"Whats New.txt" export-ignore
wiki export-ignore
Samples export-ignore
