.gitattributes export-ignore
"Older Languaje Files.zip" export-ignore
"Preview Images.zip" export-ignore
"Readme - Old.md" export-ignore
"README.md" export-ignore
"SDL2-2.30.8-windows.zip" export-ignore
"Whats New 0.23.txt" export-ignore
wiki export-ignore
Samples export-ignore
"DSP how to complile" export-ignore
"DSP small guide" export-ignore